<!DOCTYPE html>
<html>
<head>
  <title>ExperienceWith.Me</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="http://use.typekit.com/mcz7ffa.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script type='text/javascript' src='fullcalendar.js'></script>
  <script type="text/javascript">
    $(function(){
      $('#calendar').fullCalendar({
         events: [
        {
            title: 'The Circus Experience: Flying Trapeze + Acrobatics + Juggling',
            start: '2012-07-08'
        },

        {
            title: 'Yoga Boat Cruise',
            start: '2012-07-21'
        },
        {

          title: 'Grand Canyon, Sedona, and Flagstaff Tour for 2',
          start: '2012-09-05',
          end: '2012-09-09'
        }, 
        { 
          title: 'BBQ Tasting + Sauce Making + Moonshine Tasting',
          start: '2012-07-18'
        }, 
        { 
          title: 'Sushi Making + Sake Tasting',
          start: '2012-07-28'
        }, 
        {
          title: 'City Kayaking on the Mississippi River + Wine',
          start: '2012-06-13'
        }
        ],
        editable: false
      });
    });
  </script>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='notice'>
  <% if flash[:notice] %>
    <p class="sixcol"><%=h flash[:notice] %></p>
  <% end %>
</div>
<div class="container"> 
  <div class="row" "navbar"> 
    <%=render "shared/topnav" %> 
  </div> 
</div> 
<div class="container">
  <div class="row" "eightcol">
    <div id="calendar_container">
      <%= yield %>
    <div> 
  </div> 
</div> 

</body>
</html>
